Proj_N8n_Sanitized.json
{
  "name": "Proj N8n",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -80
      ],
      "id": "f5012ed8-3ce1-4c59-9e3b-72d14b185202",
      "name": "WhatsApp Trigger",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_1",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YOUR_WHATSAPP_TRIGGER_CREDENTIAL_ID",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI evaluator. Your job is to grade the student's submission based on the provided answer key. Perform the following:\n\n1. Score the submission out of 10 using the answer key — be strict.\n2. Check if plagiarism is likely based on wording similarity — return Yes/No.\n3. Give short and helpful feedback for WhatsApp delivery.\n\nDO NOT assume anything if content is missing. Only grade if both input sections are valid.\n\n---\n{{ $json.combinedText }}\n\n---\n\nReturn output **in this exact format**:\n\n📄 Assignment Evaluation  \n🔢 Score: [x]/10  \n🚨 Plagiarism: [Yes/No]  \n📝 Feedback: [One line feedback only]\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2048,
        32
      ],
      "id": "b1b182ba-27b8-4226-bb3b-b4da3ce26f04",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2048,
        208
      ],
      "id": "2540167c-2216-42e5-b0c0-29c5c47be4ab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_API_CREDENTIAL_ID_1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict but helpful assignment submission assistant.\n\nThe student has sent a message via WhatsApp. Your job is to determine whether it is a valid assignment submission.\n\nUse the following rules:\n\n1. ✅ If the message contains a PDF file (e.g., a .pdf binary or link), accept it and respond:  \n   \"✅ Assignment received! Our system will now process and evaluate your submission. You'll receive feedback shortly.\"\n\n2. 🖼️ If the message contains an image file like JPG/PNG (e.g., check: {{ $json.messages[0].image }}), respond:  \n   \"⚠️ Only PDF files are accepted. Please re-submit your assignment as a PDF document.\"\n\n3. 💬 If the message is general text, a question, or anything unrelated to assignment submission, respond:  \n   \"📌 This assistant only handles assignment submissions. Please upload your assignment in PDF format to proceed.\"\n\nNow analyze this input:\n\n**Message Content:**  \n{{ $json[\"body\"] || $json[\"message\"] || $json[\"text\"] || \"No text content provided.\" }}\n\n**Media Type (if any):**  \nImage present? → {{ $json.messages[0].image }}\n\nRespond briefly in a helpful tone based on the rules above.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -336,
        -336
      ],
      "id": "db867c6e-48a2-49a1-a745-2ccc42fd6176",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        -448
      ],
      "id": "d3633c35-fc28-41c9-aab8-9ced65e4a2aa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_API_CREDENTIAL_ID_2",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "95550c31-3db1-4ea4-ba0e-fd31bd600c52"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d148df27-9b3b-457a-8439-77076fa95141",
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc. File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "196cba10-8b2c-426b-b592-ccbf580e4992",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        -96
      ],
      "id": "987f1a03-9b2f-4355-bd1f-f4685db31d7f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER",
        "message": "Please Enter Your RollNo.",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Respond",
          "responseFormTitle": "Enter RollNo.",
          "responseFormDescription": "It Should Be Like : 2022A1R001 ",
          "responseFormButtonLabel": "Go",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -352,
        64
      ],
      "id": "a113d921-7028-49e1-b5b3-288fc12eb6b0",
      "name": "Get RollNo",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_2",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Assignment1 Test n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Roll No",
              "lookupValue": "={{ $json.data.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -192,
        64
      ],
      "id": "a2383be3-ce5d-46b1-9414-8591ff6c8778",
      "name": "Check RollNo Exists",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ade985d1-a3e2-4b1a-ba96-0fc330c362a9",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        64
      ],
      "id": "7897aab7-2c05-4f64-83dd-8758ce4fb915",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_ANSWER_KEY_FILE_ID",
          "mode": "list",
          "cachedResultName": "5ENDuuAvJ2.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/YOUR_GOOGLE_DRIVE_ANSWER_KEY_FILE_ID/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        144
      ],
      "id": "6e976b0b-fd6a-47f4-bd31-2f1dc8826a60",
      "name": "Download Eval. Key",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1248,
        144
      ],
      "id": "368c4f8f-c7c4-44ea-8a54-b0db8828d0de",
      "name": "Convert Key To Text"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -80
      ],
      "id": "ff834853-3ac5-4702-bc92-ecfa6ff2f60e",
      "name": "Download submission",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HTTP_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].document.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        896,
        48
      ],
      "id": "b5051fe7-7d82-4e9b-b0ea-6c1b5aeeb0fb",
      "name": "Download Submission",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_3",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1248,
        -80
      ],
      "id": "18e8ad8b-0d3d-4f08-a2b1-f1070b3ef7ac",
      "name": "Submission to Text"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('WhatsApp Trigger').item.json.messages[0].document.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "N8n Proj Assign",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        -384
      ],
      "id": "89f53284-30ec-4ebd-a596-af278e63d054",
      "name": "Upload Submission To Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        96,
        -368
      ],
      "id": "6ae7339a-408a-4f28-9a1b-c42efd31a727",
      "name": "Wrong Input Alert",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_4",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER_ALT",
        "textBody": "No Student Found Try Again",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        320,
        272
      ],
      "id": "dc9a6541-1731-47eb-aca4-598274707ae4",
      "name": "Wrong Rollno Alert",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_5",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER",
        "message": "Confirm You Submission",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "63b7ace8-56e5-4f6b-ba4d-1c1c9852b44e",
      "name": "Submission Approval",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_6",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9267f1b8-f662-4a44-ba67-be57d9314604",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "True",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        16
      ],
      "id": "fcccad91-7765-454b-85b4-ce4ac2f80884",
      "name": "Check"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER",
        "textBody": "=Submission Declined \nTry Again !!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "7258df45-a7af-4612-b821-ff0a1f2a0d26",
      "name": "Submission Declined Alert",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_7",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        32
      ],
      "id": "e1e1a2bf-3be7-4d21-bc85-eeb80788f7bd",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Assignment1 Test n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submission Link": "={{ $json.webViewLink }}",
            "Roll No": "={{ $('Get RollNo').item.json.data.text }}",
            "Assignment Submitted": "Yes",
            "Time": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [
            "Roll No"
          ],
          "schema": [
            {
              "id": "Roll No",
              "displayName": "Roll No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Assignment Submitted",
              "displayName": "Assignment Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submission Link",
              "displayName": "Submission Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1728,
        -384
      ],
      "id": "5504ba22-0e91-41e3-9079-0ac845aa848e",
      "name": "Update Class sheet Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "YOUR_RECIPIENT_PHONE_NUMBER",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2592,
        192
      ],
      "id": "ae0ef675-6059-43d8-b94e-0d56aeacbcfc",
      "name": "Send Result",
      "webhookId": "YOUR_WHATSAPP_WEBHOOK_ID_8",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_API_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const keyText = $input.item.json.data || $input.item.json.text || '';\nconst submissionText = $input.item.json.text || $input.item.json.data || '';\n\nreturn [\n  {\n    json: {\n      combinedText: `Answer Key:\\n${keyText}\\n\\nStudent Submission:\\n${submissionText}`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        32
      ],
      "id": "232b366f-ab20-4a01-84bd-62b0be0e018b",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "YOUR_TEACHER_EMAIL@domain.com",
        "subject": "Submission Result",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2592,
        -32
      ],
      "id": "f638ef4d-5ae9-4c32-b5b3-09dcd00d66ff",
      "name": "Result To Teacher Mail",
      "webhookId": "YOUR_GMAIL_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Wrong Input",
        "height": 400,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -528
      ],
      "typeVersion": 1,
      "id": "56b13145-ca8f-4411-9fac-065c8a14f1b6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Trigger And Router",
        "height": 352,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -208
      ],
      "typeVersion": 1,
      "id": "5ca30bba-4059-483f-b473-579755c5a472",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Map Student ",
        "height": 304,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -48
      ],
      "typeVersion": 1,
      "id": "6f6f5869-3e95-463a-b094-bb724701b42a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Download Submission & Answerkey",
        "height": 576,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -144
      ],
      "typeVersion": 1,
      "id": "a2250cb8-153f-4da3-8b60-329b9c1511a9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Final Reporting",
        "height": 496,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        -112
      ],
      "typeVersion": 1,
      "id": "041b83fe-3b52-416c-9b9d-2c507247b64c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Report Genration",
        "height": 432,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -48
      ],
      "typeVersion": 1,
      "id": "80b93fd7-f02a-4d4f-ad70-582fdde753dc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Sumission BackUp",
        "height": 256,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -448
      ],
      "typeVersion": 1,
      "id": "a03eae4e-9cb5-4698-9780-e06c27bdb8b3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Wrong Input Alert",
        "height": 240,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        192
      ],
      "typeVersion": 1,
      "id": "da75bf1e-a7a1-4b18-aa6a-da41899f879f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 📌 Final Note – Automated Assignment Evaluator (n8n)\n\nThis workflow automates the evaluation of student assignments submitted via WhatsApp. It combines document processing, AI scoring, plagiarism checks, and reporting — all in a low-code environment.\n\n### 🔧 Workflow Summary:\n1. **Students submit PDFs via WhatsApp**\n2. **Submission is converted to text**\n3. **Answer key is fetched from Drive and converted**\n4. **Both texts are merged and sent to OpenAI**\n5. **AI scores the answers, checks for plagiarism, and gives feedback**\n6. **Results sent to student (WhatsApp) & teacher (Google Sheets/Email)**\n\n### ✅ Features:\n- GPT-4 based evaluation logic  \n- Per-question plagiarism rules  \n- Late submission tracking  \n- WhatsApp-native feedback formatting  \n- Google Sheets integration  \n\n🎯 **Impact:** Saves evaluation time, ensures consistency, and reduces manual workload using AI-powered automation.",
        "height": 544,
        "width": 688,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        208
      ],
      "typeVersion": 1,
      "id": "0612be96-47a2-40fe-b504-3d2f8d372cd2",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wrong Input Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RollNo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RollNo": {
      "main": [
        [
          {
            "node": "Check RollNo Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RollNo Exists": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Submission Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong Rollno Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Eval. Key": {
      "main": [
        [
          {
            "node": "Convert Key To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Key To Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download submission": {
      "main": [
        [
          {
            "node": "Upload Submission To Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Submission to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Submission": {
      "main": [
        [
          {
            "node": "Download submission",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Eval. Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submission to Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submission Approval": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "Download Submission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submission Declined Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Result To Teacher Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Submission To Drive": {
      "main": [
        [
          {
            "node": "Update Class sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
